<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />

    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>

    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    
    <aspNetCore processPath="dotnet" arguments=".\PetStore.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    
  </system.webServer>
</configuration>