@inherits LayoutComponentBase

<div class="page">
  <aside class="sidebar">
    <NavMenu />
  </aside>

  <main>
    <header class="top-row px-4">
      @* Brand Logo *@
      <div class="top-row-left">
        <a href="/" class="brand-link">
          <img src="images/logo-pawsitive-friends.svg" alt="Logo" height="40" />
          <span class="brand-text">
            <span class="line-1">Pawsitive</span>
            <span class="line-2">Friends</span>
          </span>
        </a>
      </div>
      <div class="top-row-right">
        <a class="signin-link" href="/signin">Sign In</a>
      </div>
    </header>

    <article class="content px-4">
      @Body
    </article>
  </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
  An unhandled error has occurred.
  <a href="." class="reload">Reload</a>
  <span class="dismiss">🗙</span>
</div>