<nav class="nav-menu">

    <NavLink href="/" Match="NavLinkMatch.All">
        Home
    </NavLink>

    <div class="pets-menu">
        <span>Pets</span>

        <div class="pets-list">
            <NavLink href="/dogs">Dogs</NavLink>
            <NavLink href="/cats">Cats</NavLink>
            <NavLink href="/dragons">Dragons</NavLink>
            <NavLink href="/unicorns">Unicorns</NavLink>
            <NavLink href="/birds">Birds</NavLink>
            <NavLink href="/elephants">Elephants</NavLink>
        </div>
    </div>

    <NavLink href="/about">
        About Us
    </NavLink>

</nav>