<div class="nav-container">

    <div class="nav-header">
        <h3>PetStore</h3>
        <p>Find a pet to love</p>
    </div>

    <nav class="nav-links">

        <a href="/">Home</a>

        <div class="dropdown">
            <span class="dropdown-title">Pets </span>

            <div class="dropdown-menu">
                <a href="/dogs">Dogs</a>
                <a href="/cats">Cats</a>
                <a href="/dragons">Dragons</a>
                <a href="/unicorns">Unicorns</a>
                <a href="/birds">Birds</a>
                <a href="/elephants">Elephants</a>
            </div>
        </div>

        <a href="/about">About Us</a>

    </nav>

</div>