@using PetStore.Services
@using PetStore.Models
@inject PetService PetService

<nav class="nav-menu">

    <NavLink href="/" Match="NavLinkMatch.All">
        Home
    </NavLink>

    <div class="pets-menu">
        <NavLink href="@($"/pets")">Pets</NavLink>

        <div class="pets-list">
            @foreach (var category in categories)
            {
                <NavLink href="@($"/pets?type={category.Name}")">
                    @FormatCategoryName(category.Name)
                </NavLink>
            }
        </div>
    </div>

    <NavLink href="/shelters">
        Shelters
    </NavLink>

    <NavLink href="/about">
        About Us
    </NavLink>

    <AuthorizeView Roles="Admin">
        <Authorized>
            <NavLink href="/management">
                Update Animals
            </NavLink>
        </Authorized>
    </AuthorizeView>

</nav>

@code {

    private List<PetCategory> categories = new();

    protected override void OnInitialized()
    {
        categories = PetService.GetAllCategories();
    }

    private string FormatCategoryName(string name)
    {
        if (string.IsNullOrWhiteSpace(name))
            return "";

        return char.ToUpper(name[0]) + name.Substring(1).ToLower();
    }

}