@page "/about"
@rendermode InteractiveServer

<PageTitle>About Us</PageTitle>

<h1>About Pawsitive Friends</h1>

<p class="about-text">
  We are a non-profit organization that has partnered with shelters worldwide to bring
  attention to animals in need of love, care, and a forever home. Our mission is to
  connect people with shelters and help shine a light on animals waiting for a second chance.
</p>



@code {

}