@page "/"
@using PetStore.Services
@using PetStore.Models
@inject PetService PetService

<PageTitle>Pawsitive Friends</PageTitle>

<section class="home-hero">
  <h1>Welcome to Pawsitive Friends</h1>
  <p>
    Browse animals by category and find a pet you would love to adopt, foster, or sponsor.
  </p>
</section>


@code {

}