@page "/management"
@rendermode InteractiveServer
@attribute [Authorize(Roles = Roles.Admin)]

@using Microsoft.VisualBasic
@using PetStore.Models
@using PetStore.Services
@inject PetService PetService
@inject NavigationManager NavigationManager

<h1>General Management</h1>

<div class="management-options">
  @foreach (var m in managementPages)
  {
    <button class="btn management-link" @onclick="() => GoToPage(m.Key)">
      @m.Value
    </button>
  }
</div>

@code {
  // Link available for management organized
  private Dictionary<string, string> managementPages = new ()
  {
    { "pets", "Pets" },
    { "applications/helpers", "Pet Specific Applications" },
    { "applications/volunteers", "General Volunteers Applications" }
  };

  private void GoToPage(string pageKey)
    {
        if (!string.IsNullOrEmpty(pageKey))
        {
            NavigationManager.NavigateTo($"/management/{pageKey}");
        }
    }
}