@page "/thankyou"
@inject NavigationManager Navigation

<PageTitle>Thank You</PageTitle>

<h1>Thank You!</h1>

<p>We have successfully received your application to @helpType.ToLower(). We will review your application and reach out to you within 7-10 business days.</p>

<NavLink href="/">Return to Home</NavLink>

@code {
  private string? helpType;

  protected override void OnInitialized()
  {
    var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
    var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);

    if (query.TryGetValue("type", out var value))
    {
      helpType = value;
    }
  }
}